#map-target { 
  position:absolute;
  top:42px;
  bottom:0;
  left:0;
  right:0;
}

.win-content { height:100px; overflow:hidden; position:relative; color:#444; }
.win-title { font-weight:bold; padding-bottom:3px; }
.win-details-link { position:absolute; bottom:0px; right:0px; font-size:12px; color:#444;}

.distance {
    font-weight: normal;
    font-size: 0.7em;
    color: #aaaaaa;
}

.details_title {
    font-style: italic;
    font-size: 1.3em;
}

.details_wrapper ul {
    margin-left: 0;
    padding-left: 0;
}
.details_wrapper ul li {
    list-style-type: none;
    padding-bottom:7px;
}

.details_wrapper strong {
    display: block;
    background-color: #afb9fe;
    text-shadow: none;
    padding: 3px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.ui-body-c {
  background-color: #FFFFFF;
}
.portrait .details_wrapper img {
    width: 310px;
}
.landscape .details_wrapper img {
    width: 470px;
}

.ui-content { padding: 5px; }


.infoBubbs {
    background-repeat: no-repeat;
    background-position: center center;
    color: #000000;
    width: 100px;
    border-width:20px 10px 10px 10px;
    -moz-border-image:url("../images/mural-dialogue-box.png") 20 10 10 10 repeat stretch;
    -webkit-border-image:url("../images/mural-dialogue-box.png") 20 10 10 10 repeat stretch;
    border-image:url("../images/mural-dialogue-box.png") 20 10 10 10 repeat stretch;
}
.infoBubbs a {
    color: #efefef;
    text-decoration: none;
}

.thumbnail { width: 100px; }

/** Override jquery css stuff   **/
.ui-bar-a {
  background-image: url('../images/mosaic_header.png');
}

.ui-header .ui-title {
  background: #000000;
  margin: 0.5em 20px 0.8em;
  padding: 3px;
}

.ui-header .ui-btn-left, 
.ui-header .ui-btn-right {
  top: 0.6em;
}

.ui-btn-corner-all {
  background: #FFFFFF;
  border-radius: 0;
  border: none;
}

.ui-bar-a .ui-shadow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui-btn-up-a, .ui-btn-hover-a {
  text-shadow: none;
  color: #000000;
}